 .content {
  line-height: 2rem;

  & img {
    width: 100%;
  }

  & blockquote {
    border-left: 3px solid #00adb5;
    margin: 0px;
    padding: 0.2rem 1.8rem;
  }

  & p > code {
    background-color: #dfdfdf;
    border-radius: 6px;
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }

  & pre {
    background-color: #eaeaea;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    padding: 24px;
    overflow: auto;
  }
 }

 .name {
   font-weight: 800;
   font-size: 1.2rem;
   line-height: 2rem;
   color: #222831;
 }

 .desc {
  font-size: 1rem;
  color: #555;
 }